{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">About this project</h1>
            <div class="my-2">
                <img style="max-width: 600px; width: 100%;"
                    src="{{ url_for('static', filename='img/flask+pytorch.png') }}" alt="">
            </div>
            <p class="lead">This project is aimed to help Pytorch machine learning developers to quickly build a Flask
                web app
                in a Docker container ready to be deployed. <br> <a href="https://github.com/medonmol/EMLO-session3">
                    View on GitHub</a></p>
            <p>
                By default, this app uses MobileNetV3 Small image classifier that was pre-trained on the ImageNet
                dataset.
            </p>
            <br>
            <p> The UI and basic structure of the app has been inspired by Imad Toubal's <a
                    href='https://github.com/imadtoubal/Pytorch-Flask-Docker-App'>project on GitHub,</a></p>

        </div>
    </div>
</div>
<div class='text-center'>
    <h6 class='display-4'> Contributers</h6>
    <br>
    <p class='text-center'><b>Abhijit Gairola</b></p>

</div>
{% endblock %}